* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    background-color: #ce6097;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 20px;
    text-align: center;
}

.titulo{
    text-align: center;
    padding: 20px;
}

.nav{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 6px 100px 6px 40px;
    align-items: stretch;
    flex-grow: 1;
}

.logo img{
    width: 100px;
}

.nav-links {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.nav-links li {
    margin: 10px 0;
}

.nav-link{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.nav-link:hover {
    background-color: #ce6097;
}

.hero {
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.btn-comprar {
    background-color: #d381a3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.productos {
    text-align: center;
    margin: 20px 0;
}

.productos h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.producto img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.info, .contacto {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
}

footer .social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

@media (min-width: 768px) {
    .nav-links {
        display: flex;
    }

    .nav-links li {
        margin: 0 20px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .productos h2 {
        font-size: 28px;
    }

    .producto img {
        max-width: 500px;
    }

    .info, .contacto {
        padding: 40px;
    }
}